<footer class="footer">
  <div class="footer__twitter">     
    <%= link_to("https://twitter.com/shimo_engineers") do %>
  
      <i class="fab fa-twitter"></i>  
              
      <% end %>
  </div>  
</footer>