<ul class="right">
<ul class="right__log-in">
  <a class="underlinenone" href="/tweets">TOPへ戻る</a>
  <p class="right__post">
    <%= link_to '投稿', new_tweet_path, class: "underlinenone" %>
  </p>
</ul>
</ul>