.html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.ul {
  height: 100%;
  margin: 0;
  padding: 0;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 1;
}
.titles {
  background-image : url(https://pixabay.com/get/57e8d3444c53aa14f6da8c7dda79367c143edee352556c48702872d59249cd5bb1_640.jpg);
  font-weight: bold;
  height: 100px;
  line-height: 100px;
  list-style: none;
  &__title {
  text-align: center;
  color: white;
  font-weight: bolder;
  font-size: 45px;
  font-family: 'Dancing Script', cursive;
  text-decoration: none;
  }
}


.middle {
  position: fixed;
  margin-top: 100px;
  height: 100%;
  display: flex;
  height: 700px;
  width: 100%;
}

.left {
  float: left;
  width: 250px;
  background-image : url(https://images.unsplash.com/photo-1496268280706-ec91c5e133c7?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE1ODB9);
  color: rgb(230, 20, 20);  
  padding: 20px 15px;
  overflow: scroll;
  font-family: 'Dancing Script', cursive;
  &__list {
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 30px;
    text-align: center;
  }
  &__piano {
    margin-bottom: 15px;
    text-decoration: none;
  }
  &__guitar {
    margin-bottom: 15px;
  }
  &__bass {
    margin-bottom: 15px;
  }
  &__violin {
    margin-bottom: 15px;
  }
}


.center {
  width: 100%;
  background-image : url(https://pixabay.com/get/57e9dc434b53ad14f6da8c7dda79367c143edee352556c48702872d59249cd5bb1_640.jpg);
  overflow: scroll;
  clear:none;
  margin-bottom: 40px;
  padding: 10px 20px
}
.posts {
  text-align: center;
  &__title {
    font-size: 60px;
    font-weight: bolder;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
  }
  &__1 {
    font-size: 30px;
    height: 100px;
    margin-bottom: 30px;
  }
}
.contents {
  border: 4mm ridge goldenrod;
  padding: 20px 20px;
  margin-bottom: 30px;
  
  &__name {
    font-size: 25px;
  }
}
.post {
  display: flex;
  margin-bottom: 30px;
  &__image {
    height: 400px;
    width: 60%;
    background-size: cover;
  }
  &__text {
    border: double 4px rgba(15, 3, 14, 0.6);
    width: 50%;
    height: 309.38px;
  }
}
.pagination {
  text-align: center;
  margin-bottom: 55px;
}


.right {
  width: 250px;
  background-image : url(https://images.unsplash.com/photo-1496268280706-ec91c5e133c7?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE1ODB9); 
  padding: 20px 15px;
  color: goldenrod; 
  &__log-in {
    height: 40px;
    line-height: 40px;
    border: solid 1px goldenrod;
    right: 40px;
    margin-bottom: 30px;
    text-align: center;
  }
  &__log-out {
    height: 40px;
    line-height: 40px;
    border: solid 1px goldenrod;
    text-align: center;
    right: 40px;
  }
  &__post{
    margin-top: 200%;
    text-align: center;
    border: solid 4px goldenrod;
    font-weight: bold;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    height: 160px;
    width: 160px;
    line-height: 160px;
  }
}







.footer {
  background-image : url(https://pixabay.com/get/54e6dc464f54a514f6da8c7dda79367c143edee352556c48702872d59249cd5bb1_640.jpg);
  width: 100%;
  height: 30px;
  z-index: 1;
  bottom: 0;
  position: fixed;
  padding: 5px 30px;
  &__twitter {
    color: white;
  }
}
.fa-twitter {
  color: rgb(11, 185, 238);
}



// ここから下は色々装飾したもの

.underlinenone {
  text-decoration: none;
  color: rgb(230, 20, 20); 
}